// style variables
$color-primary: #4e00ff;
$body-background: #f5f3fe;
$body-background-dark: #111827;
$muted-dark: #1f2937;
$white: #ffffff;
$black: #000000;
$dark: #0a101a;
$gray: #555;
$light: #fafafa;
